@import "variables"

*
  box-sizing: border-box

*::before,
*::after
  box-sizing: inherit

html,
body
  margin: 0
  padding: 0

body
  font-family: 'Fira Sans', sans-serif
  font-size: $font-size

ul, li
  padding: 0
  margin: 0
  list-style: none

h2
  font-size: 32px
  margin-bottom: 15px

a
  text-decoration: none
  color: inherit
